{% assign item = include.item %}
<style>
    .small-button {
        padding: 0.1rem 0.25rem;
        font-size: 0.875rem;
        line-height: 1.2;
        border-radius: 0.2rem;
        margin-right: 2px;
        display: inline-flex;
        align-items: center;
        margin-top: 0.5rem;
    }
    .small-button img {
        height: 1em;
        width: 1em;
        margin-right: 1px;
        vertical-align: middle;
    }
</style>

<div class="d-none d-md-block">
    <div class="row no-gutters border-bottom border-gray">
        {%- if item.cover -%}
        <div class="col-md-3 col-xl-2 mb-md-0 p-md-3">
            <img data-src="{{ item.cover | relative_url }}" alt="{{ item.title }}" class="lazy w-100 rounded-sm" src="{{ '/assets/images/empty_300x200.png' | relative_url }}">
        </div>
        <div class="col-md-9 col-xl-10 p-3 pl-md-0">
        {%- else -%}
        <div class="col p-3 ml-md-2">
        {%- endif -%}
            {%- if item.badges -%}
                <div style="display: flex; align-items: center;">
                    <div>
                        <h6 class="mt-0 mb-1 font-weight-normal">{{ item.title }}</h5>
                        <p class="mt-0 mb-0 small">{% include widgets/author_list.html authors=item.authors %}</p>
                    </div>
                    <div style="display: flex; margin-left: auto;">
                        <img src="assets/images/badges/artifacts_available_v1_1.png" alt="available badge" style="width: 50px; height: auto; margin-left: 5px;">
                        <img src="assets/images/badges/artifacts_evaluated_functional_v1_1.png" alt="functional badge" style="width: 50px; height: auto; margin-left: 5px;">
                        <img src="assets/images/badges/artifacts_evaluated_reusable_v1_1.png" alt="reusable badge" style="width: 50px; height: auto; margin-left: 5px;">
                    </div>
                </div>
            {%- else -%}
                <h6 class="mt-0 mb-1 font-weight-normal">{{ item.title }}</h5>
                <p class="mt-0 mb-0 small">{% include widgets/author_list.html authors=item.authors %}</p>
            {%- endif -%}
            <p class="mt-0 mb-0 small">{{item.pub_pre}}&nbsp<i>{{ item.pub }}</i>{{ item.pub_post }} {{ item.pub_last }}</p>

            <p class="small pb-0 mb-0 lh-125 text-muted abstract-links">
                {% for link in item.links %}
                    {% if link[1] %}
                        <button type="button" class="btn btn-outline-dark small-button" onclick="window.open('{{ link[1] }}', '_blank')">
                            {% assign icon_path = "assets/images/badges/" | append: link[0] | append: ".png" %}
                            <img src="{{icon_path}}" alt="{{ link[0] }} icon">
                            {{ link[0] }}
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-outline-dark small-button" disabled style="background-color: #e9e5e5; cursor: not-allowed;">
                            {% assign icon_path = "assets/images/badges/" | append: link[0] | append: ".png" %}
                            <img src="{{icon_path}}" alt="{{ link[0] }} icon">
                            {{ link[0] }}
                        </button>
                    {% endif %}
                {% endfor %}
            </p>
            
            <!-- <p class="small pb-0 mb-0 lh-125 text-muted abstract-links">
                {% for link in item.links %}
                    {% if link[1].url %}
                        <button onclick="window.open('{{ link[1].url }}', '{{ link[1].target }}')" style="border:none; background:none; cursor:pointer; display:inline-flex; align-items:center;">
                            {% assign icon_path = "assets/images/badges/" | append: link[0] | append: ".png" %}
                            <img src="{{icon_path}}" alt="{{ link[0] }} icon" style="margin-right:5px; height:1em; width:1em;">
                            [{{ link[0] }}]
                        </button>
                    {% else %}
                        <button onclick="window.open('{{ link[1] }}', '_blank')" style="border:none; background:none; cursor:pointer; display:inline-flex; align-items:center;">
                            {% assign icon_path = "assets/images/badges/" | append: link[0] | append: ".png" %}
                            <img src="{{icon_path}}" alt="{{ link[0] }} icon" style="margin-right:5px; height:1em; width:1em;">
                            [{{ link[0] }}]
                        </button>
                    {% endif %}
                {% endfor %}
            </p> -->
            
            <!-- <p class="small pb-0 mb-0 lh-125 text-muted abstract-links">
                {% for link in item.links %}
                {% if link[1].url %}
                <a target="{{ link[1]['target'] }}" href="{{ link[1]['url'] }}">[{{ link[0] }}]</a>
                {% else %}
                <a target="_blank" href="{{ link[1] }}">[{{ link[0] }}]</a>
                {% endif %}
                {% endfor %}
            </p> -->

        </div>
    </div>
</div>

<div class="card w-100 d-md-none border-top-0 border-right-0 border-left-0 rounded-0" style="overflow-y: scroll;">
    {%- if item.cover -%}
    <img data-src="{{ item.cover | relative_url }}" alt="{{ item.title }}" class="lazy card-img w-100" src="{{ '/assets/images/empty_300x200.png' | relative_url }}">
    {%- else -%}
    <img alt="{{ item.title }}" class="w-100 rounded-sm" src="{{ '/assets/images/empty_300x200.png' | relative_url }}">
    {%- endif -%}
    <div class="card-img-overlay d-flex align-items-start flex-column" style="background-color: rgba(255, 255, 255, 0.85);">
        <div class="mb-auto"></div>
        <div>
            <h6 class="mt-0 mb-1 font-weight-normal">{{ item.title }}</h5>
            <p class="mt-0 mb-0 small">{% include widgets/author_list.html authors=item.authors %}</p>
            <p class="mt-0 mb-0 small">{{item.pub_pre}}&nbsp<i>{{ item.pub }}</i>{{ item.pub_post }} {{ item.pub_last }}</p>
            
            <!-- <p class="small pb-0 mb-0 lh-125 text-muted abstract-links">
                {% for link in item.links %}
                {% if link[1].url %}
                <a target="{{ link[1]['target'] }}" href="{{ link[1]['url'] }}">[{{ link[0] }}]</a>
                {% else %}
                <a target="_blank" href="{{ link[1] }}">[{{ link[0] }}]</a>
                {% endif %}
                {% endfor %}
            </p> -->
            <p class="small pb-0 mb-0 lh-125 text-muted abstract-links">
                {% for link in item.links %}
                    {% if link[1] %}
                        <button type="button" class="btn btn-outline-dark small-button" onclick="window.open('{{ link[1] }}', '_blank')">
                            {% assign icon_path = "assets/images/badges/" | append: link[0] | append: ".png" %}
                            <img src="{{icon_path}}" alt="{{ link[0] }} icon">
                            {{ link[0] }}
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-outline-dark small-button" disabled style="background-color: #e9e5e5; cursor: not-allowed;">
                            {% assign icon_path = "assets/images/badges/" | append: link[0] | append: ".png" %}
                            <img src="{{icon_path}}" alt="{{ link[0] }} icon">
                            {{ link[0] }}
                        </button>
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
</div>


